<span><%= cmn_lemma(lexical_entry) %></span>
<small>
  <span class="label label-success"><%= lexical_entry.part_of_speech %></span>
  <span class="label label-info"><%= lexical_entry.lexical_entry_type %></span>
</small>
