<h1>New Lexical Resource</h1>

<%= bootstrap_form_for @lexical_resource, url: user_lexical_resources_path(@user) do |f| %>
  <%= f.text_field :name, autofocus: true %>
  <%= f.submit "Create", class: "btn btn-success" %>
<% end %>
